*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

#app{
    height: 500px;
    width: 90%;
    max-width: 1200px;
    background-color: brown;
}

#add-to-list{
    margin: 10px 0;
    text-align: center;
}

#to-do-list{
    width: 90%;
    background-color:burlywood;
    margin: 0 auto;
}

#to-do-list li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.textdecoration{
    text-decoration: line-through;
}