<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <!-- FONTAWESOME -->
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css' integrity='sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==' crossorigin='anonymous'/>
    <!-- VUE -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <title>vue todolist</title>
</head>
<body>

    <h1>TO DO LIST</h1>

    <div id="app">

        <div id="add-to-list">
            <input type="text" name="" id="" placeholder="cose da fare..." v-model.trim="addToDo">
            <button @click="add()">Aggiungi</button>
        </div>

        <div id="to-do-list">
            <ul v-for="(task, index) in toDoArr">
                <li :class="{textdecoration: task.done}">{{task.text}}<i class="fa-solid fa-trash-can" @click="remove(index)"></i></li>
            </ul>
            <h1 v-if="toDoArr.length === 0">Non ci sono cose da fare</h1>
        </div>

    </div>

    <script src="js/script.js"></script>
</body>
</html>